<%- layout('layout') -%>

<div class="container">
  <div class="row">
    <% for (let i=0; i < products.length; i++) { %>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <img src="<%= products[i].image %>" alt="thumbnail" /> -->
          <div class="caption">
              <a href="/product/<%= products[i]._id %>">
                <h3><%= products[i].name %></h3>
              </a>
              <p>Price: <%= products[i].price %>$</p>
              <p>Category: <%= products[i].category.name %></p>
            </div>
          </div>
      </div>
    <% } %>
  </div>
</div>